@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  background-color: #0d0d0d;
  color: white;
  transition: background-color 0.3s, color 0.3s;
}

/* Optional scrollbar tweak */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
